* {
    margin: 0px;
    padding: 0px;
}
body {
  height: 1945px;
  width: 100%;
  background-color: White;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}
header{
    height: 94px;
    width: 80%;
    background-color: White;
    display: flex;
    align-items: center;
}

.logo {
    height: 94px;
    width: 10%;
    background-image: url(../img/TriTacoLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
nav {
    height: 94px;
    width: 60%;
    background-color: White;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
.button {
    position: relative;
    background-color: White;
    border: none;
    font-size: 14px;
    color: #2d819d;
    padding: 20px;
    width: 100px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background-color: #d54753;
}
.search{
    height: 94px;
    width: 30%;  
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Search-block{
    height: 60px;
    width: 100%;
    background-color: White;
    display: flex;

}
#text {
    height: 30px;
    width: 60%;
    border-radius: 2px;
}
#sumbit{
    position: relative;
    background-color: White;
    border: none;
    font-size: 14px;
    color: #2d819d;
    padding: 20px;
    width: 100px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
main{
  height: 1770px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.break{
    height: 5px;
    width: 100%;
    background-color: #d54753;
}
.break2{
    height: 20px;
    width: 100%;
}
.images{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  footer {
      height: 50px;
      width: 100%;
      background-color: #EB7E80 ;
      position: relative;
      position: fixed;
      padding: 10px 10px 0px 10px;
      bottom: 0;
      
  }
  .main-vacation{
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .centering{
    height: 415px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-vacation{
    height: 350px;
    width: 80%;
    background-size: cover;
    
  }
  
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: white;
  color: #2d819d;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #EB7E80;
  color: #2d819d;
}
.cancelbtn:hover{
  background-color: #d54753;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.shoppingCartDiv{
    height: 94px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.shoppingCartButton{
    position: relative;
    background-color: White;
    border: none;
    font-size: 14px;
    color: #2d819d;
    padding: 20px;
    width: 100px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
}
.shoppingCartButton:hover {
  background-color: #d54753;
}
.divPimg{
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
.imgP{
  width: 100%;
  height: 400px;
  background-size: cover;
}
.break4{
  width: 3%;
  height: 94px;
}
.text2137{
  text-decoration:none;  
}
.main-aboutus{
  height: 1370px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bedrijf-foto{
  height: 400px;
  width: 25%;
  background-image: url(../img/Shop.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.info-1{
  height: 400px;
  width: 45%;
  text-align: left;
}
.bedrijf-foto2{
  height: 1000px;
  width: 100%;
  background-image: url(../img/Shop2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.form {
  height: 60px;
  width: 100%;
  display: flex;
  align-content: space-around;
  align-items: center;
}
.hmmm {
  height: 415px;
  width: 50%;
}
.text {
  text-decoration: none;
  color:#2d819d
}